<!DOCTYPE html>
<html>
<head>
	<title>SUSTAINABLE STYLE</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	
	<div class="top">
		<header id="main-header">
			<h1>SUSTAINABLE STYLE</h1>
		</header>
	</div>

	<div class="box">
		<header>
			<h2>Discover Sustainable Clothing</h2>
		</header>
		<header>
		    <h3>Simply upload a photo of a clothing item you like and we will recommend sustainable options!</h3>
		</header>

		<div class="fashion_image">
			<img src="../static/fashion.jpg" alt="Clothing Item Here" width="500">
		</div>
	</div>

	<form action="upload" method="POST" enctype="multipart/form-data">
		SELECT IMAGE TO UPLOAD
		<input type="file" name="fileToUpload" id="fileToUpload">
		<input type="submit" value="Submit" name="submit">

	</form>
</body>
<html>