<!DOCTYPE html>
<html>
<head>
	<title>SUSTAINABLE STYLE</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="top">
		<header id="main-header">
			<h1>SUSTAINABLE STYLE</h1>
		</header>
	</div>

	<div class="box">
		<header>
			<h2>Discover Sustainable Clothing</h2>
		</header>
		<header>
		    <h3>Simply upload a photo of a clothing item you like and we will recommend sustainable options!</h3>
		</header>

		<form action="upload" method="POST" enctype="multipart/form-data">
			SELECT IMAGE TO UPLOAD
			<input type="file" name="fileToUpload" id="fileToUpload">
			<input type="submit" value="Submit" name="submit">
		</form>
	</div>

	<br>
	<hr>
	<br>

    <h4>Clothing Matches</h4>
    <a href="https://www2.hm.com/en_us/productpage.0714790020.html" target="_blank">
    	<img src="HM-denim-jacket.jpeg" alt="Clothing Item Here" width="300">
    </a>


</body>
<html>