<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MATCHES!</title>
    <link rel="stylesheet" type="text/css" href="../static/style1.css">
</head>
<body>
    <div class="matches">
	    <h4>CLOTHING MATCHES</h4>
        <br>
        <hr>
	    <br>
		<table>
			<tbody>
            <tr>
                <td>
                {% for res in product_list %}
                    <a href="{{res.product.product_labels[2].value}}">
                        {% if res.product.product_labels[3] and res.product.product_labels[3].value == "H&M-Conscious" %}
                            {% set img_url = "https://storage.googleapis.com/hacksc2020_product/" + "HM-" + res.product.name + ".jpeg" %}
                            <img class="elements" src="{{img_url}}">
                        {% endif %}

                        {% if res.product.product_labels[3] and res.product.product_labels[3].value == "Reformation" %}
                            {% set img_url = "https://storage.googleapis.com/hacksc2020_product/" + "REF-" + res.product.name + ".jpg" %}
                            <img class="elements" src="{{img_url}}">
                        {% endif %}
                        {% if res.product.product_labels[3] and res.product.product_labels[3].value == "Vinted" %}
                            {% set img_url = "https://storage.googleapis.com/hacksc2020_product/" + "V-" + res.product.name + ".jpeg" %}
                            <img class="elements" src="{{img_url}}">
                        {% endif %}
                    </a>
                {% endfor %}
                </td>
            </tr>
			</tbody>
		</table>
	</div>
<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>